/* λ…Έν† μ‚°μ¤ */

@font-face {
    font-family: 'NotoSansKR-Thin';
    src: url('/common/fonts/NotoSansKR-Thin.otf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR-Light';
    src: url('/common/fonts/NotoSansKR-Light.otf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR-Medium';
    src: url('/common/fonts/NotoSansKR-Medium.otf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR-Regular';
    src: url('/common/fonts/NotoSansKR-Regular.otf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR-Bold';
    src: url('/common/fonts/NotoSansKR-Bold.otf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR-Black';
    src: url('/common/fonts/NotoSansKR-Black.otf') ;
    font-weight: normal;
    font-style: normal;
}
